<p id="notice"><%= notice %></p>

<p>
    <strong>Name:</strong>
    <%= @customer.name %><br>
</p>

<p>
    <strong>Address:</strong>
    <%= @customer.address %>
</p>

<br>

<%= link_to 'Edit', edit_customer_path(@customer), class: "btn btn-link" %>
<%= link_to 'Destroy', @customer, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" %>